*{
    
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


:root{
    --PrimaryColor:#007bff;
    --textPrimary:#686868;
    --textPrimary2:rgb(238, 238, 238);
    --textSecondary:#ffc107;
}




/* HEADER */
.header-bg1{

    display: none ;
}

.main-header{
    height: 100vh !important;
    background-color: white;
}



.navbar-toggler{
    color: var(--textSecondary);
    border-color: transparent;
}

.btn{
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius:.2rem;
}

.navbar{
    z-index: 2;
    opacity: 0.92;
    background-color: transparent;

    /* border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, var(--textSecondary),rgba(255, 255, 255, 0.877), rgba(56,2,155,0)) 1; */
}

.navbar-border{
    border-bottom: 1px solid white;
}



.contact-btn a{
    font-weight: 600;
    letter-spacing: .1rem;
 
}

ul{
    gap: 2rem;
}
li > a{
    position: relative;
    transition: color .3s ease-in-out;
    color: white !important;
    font-size: 1.3rem !important;
}

li > a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--textSecondary);
    display: block;
    content: '';

    transition: width .3s ease-in-out;
}

li > a:hover::after{
    width: 100%;
}


li > a:focus-visible::after{
    width: 100%;
}

/* MAIN */

.hero{
    height: calc(100% - 74px);
}

.person-photo{
    
    z-index: 2;
    overflow: hidden;
    max-width: 25%;
   
    background-color: var(--textSecondary);
    
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}
.person-photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.person-description > h1{

    font-size: 3rem;
    font-weight: 900;
}

.person-description p:last-child{
    color: rgba(233, 233, 233, 0.884);
}
.person-photo:hover img{
    transform: scale(1.1);
}
.person-photo img{
    transition: all .3s ease-in-out;
    width: 100%;
}


.person{
    gap: 3rem !important;
    margin-left: 16rem ;
}

.person .bg-1{
    background-color: var(--PrimaryColor);
}
.person .bg-2{
    background-color: white;
}

.person-personalData > p > span{
    font-weight: bold;
    letter-spacing: .2rem;
    color: var(--textSecondary);
}

.person-links > a  , .copyright-social > a{
    font-size: 1.5rem !important;
    transition: .4s ease-in-out !important;
}

.person-links > a:hover, .copyright-social > a:hover{
    color: var(--textSecondary);
}
.person-links > a, .copyright-social > a{
    color: white;
}
.person-links{
    
    gap: 1rem ;
}

.text-Primary{
    color: var(--textPrimary);
}

/* HI */
.projects{
    margin-top: 6rem !important;

}


.resume > p{
    max-width: 70%;
    line-height: 1.8rem;
}



.resume a{
    gap: .5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    background-color: var(--textSecondary);
}





/* RESUME*/
.resume{

    margin-top: 4rem;
}

.download-dv{
    width: 13rem;
}



.line{
   
    border-bottom: 1px solid rgb(211, 211, 211);
}

/* EDUCATION */
.education, .employment, .stack{
   
    color: var(--textPrimary);
}

.formatElement{
    display: inline-block;
    border-bottom: 2px solid var(--textSecondary) !important;
}


.item > p:first-child {
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-50%);
    margin-bottom: .5rem;

    
    font-size: 1.2rem;
    color: var(--PrimaryColor);
}

.item > p:last-child{
    margin: 0 !important;
    padding: 0;
}

.item{
    padding: 1.2rem .5rem !important;
    position: relative;

    border-left: 2px solid var(--PrimaryColor);
}
.start-circle::before{
    content: '';
    transform: translateX(-50%);
    left:-1px;
    top: -5px;
    position: absolute;
    background-color: white;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    padding: .3rem;
    border: 2px solid var(--PrimaryColor);
}

.end-circle::after{
    content: '';
    transform: translateX(-50%);
    left:-1px;
    bottom: -5px;
    position: absolute;
    background-color: white;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    padding: .3rem;
    border: 2px solid var(--PrimaryColor);
}
.stack-item > p{
    margin: 0;
}
.stacks-list{
    align-items: center;
    display: flex;
    gap: 1.2rem;
}



.stack-item > img{
    width: 80px ;
}

.used-stack img{
    width: 50px;
}

.projects{
    width: 100%;
}
.projects-cards{
    gap: 2rem;
}
.project-card{
 
    transition: .2s ease-in;
}
.project-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 30px;
}

.livePreview > a:hover{
    text-decoration: underline !important;
}

.description-project h2{
    color: #4d4d4d;
}

.image-project > img{
    width: 100% !important;
    height: 100% !important;
}

/* FOOTER */
footer{
   
    margin-top: 4rem;
    background-image: url('/images/white-abstract-background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   
}
.footer-container{
    z-index: 3;
}
.footer-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--PrimaryColor);
    opacity: 0.92;
}
.contact-intro p{
    font-size: 1.2rem;
}
#send-email{
    transition: .3s ease-in-out;
    font-weight: bold;
    letter-spacing: .2rem;
    
}

.form-group > input, .form-group > textarea{
    color: white !important;

    outline-color: var(--textSecondary);
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(207, 207, 207, 0.5);
    background-color: transparent !important;
}

.form-group > input::placeholder, .form-group textarea::placeholder{
    color: var(--textPrimary2);
}

.form-group > input:focus, .form-group > textarea:focus{
    border-color: var(--textSecondary);
}

#go-top{
    display: none;
    border-radius: .2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-size: 2rem;
    bottom: 15px;
    right: 15px;
    z-index: 999;
}



.contact-info > div > a{
    color: white;
    margin-bottom: 1.3rem;
    transition: .3s ease;
    font-size: 2.3rem;
}

.active-hover{
    transition: .3s ease;
}
.active-hover:hover{
    color: var(--textSecondary);
    cursor: pointer;
}

.copyright{
    margin-top: 6rem;
}
.copyright > span{
    color: var(--textPrimary2)
}

